.DashboardLayout {
  display: grid;
  grid-template-columns: 17rem 4fr;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f6fa;
  position: relative;
}

.DashboardLayout__Sidebar {
  background-color: rgb(16, 25, 36);
  color: rgb(88, 124, 157);
}

.DashboardLayout__Main {
  overflow: auto;
  position: relative;
}

.DashboardLayout__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.7rem 2.5rem;
  gap: 0.5rem;
  background-color: #fff;
}

.DashboardLayout__mobileNav {
  display: none;
}

.DashboardLayout__profileNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.DashboardLayout__image {
  background-color: #037dff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.DashboardLayout__person p {
  font-size: 0.7rem;
  line-height: 1.3;
}

.DashboardLayout__person P:nth-of-type(2) {
  cursor: pointer;
}

.DashboardLayout__person .verified {
  color: green;
}

.DashboardLayout__footer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2.5rem;
  height: 40px;
  width: 100%;
}

.DashboardLayout__footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.DashboardLayout__footer ul a {
  color: #8cabce;
  font-size: 0.7rem;
}

.DashboardLayout__footer-rights {
  font-size: 0.7rem;
  color: #037dff;
}

@media screen and (max-width: 720px) {
  .DashboardLayout {
    display: grid;
    grid-template-columns: 0rem 4fr;
    height: 100vh;
    overflow: hidden;
    background-color: #f5f6fa;
  }

  .DashboardLayout__Sidebar {
    position: relative;
    grid-template-columns: 0rem 4fr;
    left: -100%;
  }

  .DashboardLayout__nav {
    justify-content: space-between;
  }

  .DashboardLayout__mobileNav {
    display: block;
    cursor: pointer;
  }

  .DashboardLayout__Siderbar__hidden {
    display: none;
  }

  .DashboarddLayout__footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 2.5rem;
    height: 60px;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
}
